@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap");

:root {
    --primeraFuente: "Shippori Antique B1", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*HOME*/

.containerH {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./recursos/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/*MENU*/
.menu {
    width: 100%;
    height: 150px;
}

.nav {
    max-width: 100%;
    mask-image: linear-gradient(90deg,
            rgba(255, 255, 255, 0.808) 0%,
            #ffffff 25%,
            #ffffff 75%,
            rgba(255, 255, 255, 0.788) 100%);
    margin: 0 auto;
    position: fixed;
    top: 0px;
    z-index: 100;
}

.ul {
    text-align: center;
    background: linear-gradient(90deg,
            rgba(99, 99, 99, 0) 0%,
            rgba(83, 83, 83, 0.212) 25%,
            rgba(48, 48, 48, 0.596) 75%,
            rgba(107, 107, 107, 0) 100%);
    box-shadow: 0 0 25px rgba(119, 119, 119, 0.1),
        inset 0 0 1px rgba(255, 255, 255, 0.774);
}

.li {
    display: inline-block;
}

.a {
    padding: 18px;
    font-family: var(--primeraFuente);
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    text-decoration: none;
    display: block;
}

.a:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1),
        inset 0 0 1px rgba(243, 243, 243, 0.836);
    background: rgba(255, 255, 255, 0.966);
    color: rgba(0, 0, 0, 0.7);
}

/*CARDS INFO*/
.cards {
    width: 700px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}

.cardEst {
    width: 200px;
    height: 380px;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg,
            rgba(255, 255, 255, 0.3841911764705882) 0%,
            rgba(224, 224, 224, 1) 100%);
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.cardTea {
    width: 200px;
    height: 380px;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg,
            rgba(255, 255, 255, 0.3841911764705882) 0%,
            rgba(224, 224, 224, 1) 100%);
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.cardMar {
    width: 200px;
    height: 380px;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg,
            rgba(255, 255, 255, 0.3841911764705882) 0%,
            rgba(224, 224, 224, 1) 100%);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconS {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 180px;
}

.icon {
    width: 100px;
    margin-top: 10px;
}

.txtH {
    font-family: var(--primeraFuente);
    color: rgb(0, 0, 0);
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}
.txtA{
    font-family: var(--primeraFuente);
    color: rgb(0, 0, 0);
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    margin-top: 60px;
}
/*BOTONES*/
.btn_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 120px;
    padding: 15px 38px;
    border-radius: 16px;
    border: 1px solid transparent;
    color: #ffffff;
    background-color: #0000008e;
    font-family: var(--primeraFuente);
    font-size: 16px;
    transition: all 0.15s linear;

    text-decoration: none;
}

.btn_btn:hover {
    background-color: rgba(253, 253, 253, 0.507);
    border-color: #000000;
    color: #000000;
    transform: translateY(-5px) scale(1.05);
}

.btn_btn:active {
    background-color: white;
    border-color: #000000;
    font-family: var(--primeraFuente);
    color: #000000;
    transform: translateY(5px) scale(0.95);
}

.btn_btn:disabled {
    background-color: rgba(255, 255, 255, 0.16);
    color: #8e8e93;
    border-color: #8e8e93;
}

/*SECCION STUDENTS*/

.containerStud {
    width: 100%;
    height: 1000px;
    background-color: rgb(20, 20, 20);
    background-image: url(./recursos/student.png);
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*CONTENEDOR INPUTS ESTUDIANTES*/
.inputs {
    height: 550px;
    width: 500px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.603);
    margin-left: 10px;
}

.titleEstud {
    font-family: var(--primeraFuente);
    color: white;
    font-size: 30px;
}

.input {
    width: 400px;
    height: 40px;
    margin-top: 10px;
    font-family: var(--primeraFuente);
}

/*BOTONES INPUTS ESTUDIANTES*/
.botons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    padding: 15px 38px;
    border-radius: 16px;
    border: 1px solid transparent;
    color: #ffffff;
    background-color: #000000dc;
    font-family: var(--primeraFuente);
    font-size: 16px;
    transition: all 0.15s linear;
    margin-top: 25px;
    text-decoration: none;
    margin-left: 20px;
}

.btn-btn:hover {
    background-color: rgba(253, 253, 253, 0.507);
    border-color: #000000;
    color: #000000;
    transform: translateY(-5px) scale(1.05);
}

.btn-btn:active {
    background-color: white;
    border-color: #000000;
    font-family: var(--primeraFuente);
    color: #000000;
    transform: translateY(5px) scale(0.95);
}

.btn-btn:disabled {
    background-color: rgba(255, 255, 255, 0.16);
    color: #8e8e93;
    border-color: #8e8e93;
}

/*CONTENEDOR MOSTRAR ESTUDIANTES*/
.mostrarStud {
    height: 700px;
    width: 1000px;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.800);
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.603);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right: 10px;
}

/*TABLA MOSTRAR ESTUDIANTES*/
.tablaStud {
    width: 680px;
    height: 460px;
    font-family: var(--primeraFuente);
}

/*BOTON MOSTRAR ESTUDIANTES*/
.getStu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 55px;
}

.btn-btnG {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    padding: 15px 38px;
    border-radius: 16px;
    border: 1px solid transparent;
    color: #ffffff;
    background-color: #000000dc;
    font-family: var(--primeraFuente);
    font-size: 16px;
    transition: all 0.15s linear;
    margin-bottom: 10px;
    text-decoration: none;
    margin-left: 20px;
}

.btn-btnG:hover {
    background-color: rgba(253, 253, 253, 0.507);
    border-color: #000000;
    color: #000000;
    transform: translateY(-5px) scale(1.05);
}

.btn-btnG:active {
    background-color: white;
    border-color: #000000;
    font-family: var(--primeraFuente);
    color: #000000;
    transform: translateY(5px) scale(0.95);
}

.btn-btnG:disabled {
    background-color: rgba(255, 255, 255, 0.16);
    color: #8e8e93;
    border-color: #8e8e93;
}

.inputG {
    width: 400px;
    height: 40px;
    font-family: var(--primeraFuente);
}

/*SECCION TEACHER*/

.teacher {
    width: 100%;
    height: 1000px;
    background-color: rgb(20, 20, 20);
    background-image: url(./recursos/fondoteacher.png);
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*CONTENEDOR INPUTS TEACHER*/
.inputsTeach {
    height: 550px;
    width: 500px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.603);
    margin-left: 10px;
}

.titleTeach {
    font-family: var(--primeraFuente);
    color: white;
    font-size: 30px;
}

.inputTeach {
    width: 400px;
    height: 40px;
    margin-top: 10px;
    font-family: var(--primeraFuente);
}

/*BOTONES INPUTS TEACHER*/
.botons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    padding: 15px 38px;
    border-radius: 16px;
    border: 1px solid transparent;
    color: #ffffff;
    background-color: #000000dc;
    font-family: var(--primeraFuente);
    font-size: 16px;
    transition: all 0.15s linear;
    margin-top: 25px;
    text-decoration: none;
    margin-left: 20px;
}

.btn-btn:hover {
    background-color: rgba(253, 253, 253, 0.507);
    border-color: #000000;
    color: #000000;
    transform: translateY(-5px) scale(1.05);
}

.btn-btn:active {
    background-color: white;
    border-color: #000000;
    font-family: var(--primeraFuente);
    color: #000000;
    transform: translateY(5px) scale(0.95);
}

.btn-btn:disabled {
    background-color: rgba(255, 255, 255, 0.16);
    color: #8e8e93;
    border-color: #8e8e93;
}

/*CONTENEDOR MOSTRAR TEACHER*/
.mostrarTeach {
    height: 700px;
    width: 1000px;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.671);
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.603);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right: 10px;
}

/*TABLA MOSTRAR TEACHER*/
.tablaTeach {
    width: 680px;
    height: 460px;
    font-family: var(--primeraFuente);
}

/*BOTON MOSTRAR TEACHER*/
.getTeach {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 55px;
}

.btn-btnG {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    padding: 15px 38px;
    border-radius: 16px;
    border: 1px solid transparent;
    color: #ffffff;
    background-color: #000000dc;
    font-family: var(--primeraFuente);
    font-size: 16px;
    transition: all 0.15s linear;
    margin-bottom: 10px;
    text-decoration: none;
    margin-left: 20px;
}

.btn-btnG:hover {
    background-color: rgba(253, 253, 253, 0.507);
    border-color: #000000;
    color: #000000;
    transform: translateY(-5px) scale(1.05);
}

.btn-btnG:active {
    background-color: white;
    border-color: #000000;
    font-family: var(--primeraFuente);
    color: #000000;
    transform: translateY(5px) scale(0.95);
}

.btn-btnG:disabled {
    background-color: rgba(255, 255, 255, 0.16);
    color: #8e8e93;
    border-color: #8e8e93;
}

.inputG {
    width: 400px;
    height: 40px;
    font-family: var(--primeraFuente);
}

/*SECCION MARKS*/

.marks {
    width: 100%;
    height: 1000px;
    background-color: rgb(20, 20, 20);
    background-image: url(./recursos/score.png);
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*CONTENEDOR INPUTS MARKS*/
.inputsMarks {
    height: 550px;
    width: 500px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.603);
    margin-left: 10px;
}

.titleMarks {
    font-family: var(--primeraFuente);
    color: white;
    font-size: 30px;
}

.inputMarks {
    width: 400px;
    height: 40px;
    margin-top: 10px;
    font-family: var(--primeraFuente);
}

/*BOTONES INPUTS MARKS*/

.botons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    padding: 15px 38px;
    border-radius: 16px;
    border: 1px solid transparent;
    color: #ffffff;
    background-color: #000000dc;
    font-family: var(--primeraFuente);
    font-size: 16px;
    transition: all 0.15s linear;
    margin-top: 25px;
    text-decoration: none;
    margin-left: 20px;
}

.btn-btn:hover {
    background-color: rgba(253, 253, 253, 0.507);
    border-color: #000000;
    color: #000000;
    transform: translateY(-5px) scale(1.05);
}

.btn-btn:active {
    background-color: white;
    border-color: #000000;
    font-family: var(--primeraFuente);
    color: #000000;
    transform: translateY(5px) scale(0.95);
}

.btn-btn:disabled {
    background-color: rgba(255, 255, 255, 0.16);
    color: #8e8e93;
    border-color: #8e8e93;
}

/*CONTENEDOR MOSTRAR MARKS*/
.mostrarMarks {
    height: 700px;
    width: 1000px;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.671);
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.603);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right: 10px;
}

/*TABLA MOSTRAR MARKS*/
.tablaMarks {
    width: 680px;
    height: 460px;
    font-family: var(--primeraFuente);
}

/*BOTON MOSTRAR MARKS*/
.getMarks {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 55px;
}

.btn-btnG {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    padding: 15px 38px;
    border-radius: 16px;
    border: 1px solid transparent;
    color: #ffffff;
    background-color: #000000dc;
    font-family: var(--primeraFuente);
    font-size: 16px;
    transition: all 0.15s linear;
    margin-bottom: 10px;
    text-decoration: none;
    margin-left: 20px;
}

.btn-btnG:hover {
    background-color: rgba(253, 253, 253, 0.507);
    border-color: #000000;
    color: #000000;
    transform: translateY(-5px) scale(1.05);
}

.btn-btnG:active {
    background-color: white;
    border-color: #000000;
    font-family: var(--primeraFuente);
    color: #000000;
    transform: translateY(5px) scale(0.95);
}

.btn-btnG:disabled {
    background-color: rgba(255, 255, 255, 0.16);
    color: #8e8e93;
    border-color: #8e8e93;
}

.inputG {
    width: 400px;
    height: 40px;
    font-family: var(--primeraFuente);
}
#toast {
    z-index: 100;
}